<a href="https://colab.research.google.com/github/a-forty-two/CGI-DPplusPy/blob/main/01_py_datastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#python -> Spark, Synapse Spark Pools-> PySpark or Scala

In [2]:
# EASY to write
# why?-> easy to read, simple syntax
# why not?-> SPEED and performance-> 72 times slower than C++/C#, 15-20 times slower than Java

In [3]:
# Pipelines-> small amount of instructions with isolation ,
 # transforming the data -> correction and ease is more important than VOLUME
 # PARALLEL processing

In [5]:
# python-> precompiled C++
# Datasets -> read/writing, stats, tansforming, visualize 
# Application program interface-> REST-> GET/POST/PUT/DEL 
# Machine Learning-> try

In [6]:
#OBJECT ORIENTED

In [7]:
# class-> special functions-> initialize the constructors and main function of C/C++ running behind the scenes
# INDENTATION-> spaces, tabs-> misplacing them will result in compilation error

In [8]:
def banana(val1,val2):
  return val1+val2

In [9]:
banana(1,2)

3

In [10]:
banana("hello","world")

'helloworld'

In [11]:
banana("hello", 3)
#

TypeError: ignored

In [12]:
fl = open('blah.txt', 'wt') # r/w/a , text mode or binary mode
fl.write(banana("hello","world"))
fl.close()

In [13]:
# batch and stream

# batch-> data -> dw dataset, dataframe 
!wget https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv

--2021-09-06 09:15:35--  https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80005 (78K) [text/plain]
Saving to: ‘breastcancer_data.csv’

breastcancer_data.c 100%[===================>]  78.13K  --.-KB/s    in 0.006s

2021-09-06 09:15:35 (13.6 MB/s) - ‘breastcancer_data.csv’ saved [80005/80005]

In [14]:
!ls

blah.txt  breastcancer_data.csv  sample_data

In [15]:
#PANDAS-> Panel Dataframes
# Extract, Slice and Dice, and manipulate TABULAR data
# ROWS and COLUMNS
# Tx-> Statistics, SQL Joins, Math

In [17]:
import pandas
data = pandas.read_csv('breastcancer_data.csv', header=0)

In [18]:
data # POINTER-> REFERENCE

            id diagnosis  ...  symmetry_mean  fractal_dimension_mean
0       842302         M  ...         0.2419                 0.07871
1       842517         M  ...         0.1812                 0.05667
2     84300903         M  ...         0.2069                 0.05999
3     84348301         M  ...         0.2597                 0.09744
4     84358402         M  ...         0.1809                 0.05883
...        ...       ...  ...            ...                     ...
1133     93316         M  ...         0.1726                 0.05623
1134     93317         M  ...         0.1752                 0.05533
1135     93318         M  ...         0.1590                 0.05648
1136     93319         M  ...         0.2397                 0.07016
1137     93320         B  ...         0.1587                 0.05884

[1138 rows x 11 columns]

In [19]:
data['fractal_dimension_mean']

0       0.07871
1       0.05667
2       0.05999
3       0.09744
4       0.05883
         ...
1133    0.05623
1134    0.05533
1135    0.05648
1136    0.07016
1137    0.05884
Name: fractal_dimension_mean, Length: 1138, dtype: float64

In [20]:
# List
ls = [42, 0.111111, 'hello world', '<input type="button">Click here</input>', False]

In [21]:
# ORDERED-> once created, ORDER DOES not change
ls

[42, 0.111111, 'hello world', '<input type="button">Click here</input>', False]

In [22]:
#Indexed
ls[0]# first element

42

In [23]:
# NEGATIVE INDEXING-> right to left
ls[-1] # last element

False

In [24]:
ls2 = [1, -1, ls]

In [27]:
ls # list concatenation

[42, 0.111111, 'hello world', '<input type="button">Click here</input>', False]

In [28]:
ls3 = [1,-1,[ls]]
ls3

[1,
 -1,
 [[42,
   0.111111,
   'hello world',
   '<input type="button">Click here</input>',
   False]]]

In [29]:
ls3[-1]

[[42,
  0.111111,
  'hello world',
  '<input type="button">Click here</input>',
  False]]

In [34]:
potato = [ 1, 2, 2, 1, 'banana', 99, False, 3.14, 'buffalo']
# List is ORDERED, INDEXED
set1 = set(potato)
set1
# UNORDERED

{1, 2, 3.14, 99, False, 'banana', 'buffalo'}

In [31]:
# INDEXING-> undefined 
set1[2]

TypeError: ignored

In [35]:
set2 = {ls} # an ordered, indexed collection CANNOT become a part of UNORDERED,
# unindexed collection!!!!

TypeError: ignored

In [36]:
set2 = {set1, 3}

TypeError: ignored

In [ ]:
# UNION and INTERSECTION, SET add, subtract-> only ops
# SQL JOIN