<a href="https://colab.research.google.com/github/a-forty-two/CGI-DPplusPy/blob/main/01_py_datastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#python -> Spark, Synapse Spark Pools-> PySpark or Scala

In [2]:
# EASY to write
# why?-> easy to read, simple syntax
# why not?-> SPEED and performance-> 72 times slower than C++/C#, 15-20 times slower than Java

In [3]:
# Pipelines-> small amount of instructions with isolation ,
 # transforming the data -> correction and ease is more important than VOLUME
 # PARALLEL processing

In [5]:
# python-> precompiled C++
# Datasets -> read/writing, stats, tansforming, visualize 
# Application program interface-> REST-> GET/POST/PUT/DEL 
# Machine Learning-> try

In [6]:
#OBJECT ORIENTED

In [7]:
# class-> special functions-> initialize the constructors and main function of C/C++ running behind the scenes
# INDENTATION-> spaces, tabs-> misplacing them will result in compilation error

In [8]:
def banana(val1,val2):
  return val1+val2

In [9]:
banana(1,2)

3

In [10]:
banana("hello","world")

'helloworld'

In [11]:
banana("hello", 3)
#

TypeError: ignored

In [12]:
fl = open('blah.txt', 'wt') # r/w/a , text mode or binary mode
fl.write(banana("hello","world"))
fl.close()

In [13]:
# batch and stream

# batch-> data -> dw dataset, dataframe 
!wget https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv

--2021-09-06 09:15:35--  https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80005 (78K) [text/plain]
Saving to: ‘breastcancer_data.csv’

breastcancer_data.c 100%[===================>]  78.13K  --.-KB/s    in 0.006s

2021-09-06 09:15:35 (13.6 MB/s) - ‘breastcancer_data.csv’ saved [80005/80005]

In [14]:
!ls

blah.txt  breastcancer_data.csv  sample_data

In [15]:
#PANDAS-> Panel Dataframes
# Extract, Slice and Dice, and manipulate TABULAR data
# ROWS and COLUMNS
# Tx-> Statistics, SQL Joins, Math

In [17]:
import pandas
data = pandas.read_csv('breastcancer_data.csv', header=0)

In [18]:
data # POINTER-> REFERENCE

            id diagnosis  ...  symmetry_mean  fractal_dimension_mean
0       842302         M  ...         0.2419                 0.07871
1       842517         M  ...         0.1812                 0.05667
2     84300903         M  ...         0.2069                 0.05999
3     84348301         M  ...         0.2597                 0.09744
4     84358402         M  ...         0.1809                 0.05883
...        ...       ...  ...            ...                     ...
1133     93316         M  ...         0.1726                 0.05623
1134     93317         M  ...         0.1752                 0.05533
1135     93318         M  ...         0.1590                 0.05648
1136     93319         M  ...         0.2397                 0.07016
1137     93320         B  ...         0.1587                 0.05884

[1138 rows x 11 columns]

In [19]:
data['fractal_dimension_mean']

0       0.07871
1       0.05667
2       0.05999
3       0.09744
4       0.05883
         ...
1133    0.05623
1134    0.05533
1135    0.05648
1136    0.07016
1137    0.05884
Name: fractal_dimension_mean, Length: 1138, dtype: float64

In [20]:
# List
ls = [42, 0.111111, 'hello world', '<input type="button">Click here</input>', False]

In [21]:
# ORDERED-> once created, ORDER DOES not change
ls

[42, 0.111111, 'hello world', '<input type="button">Click here</input>', False]

In [22]:
#Indexed
ls[0]# first element

42

In [23]:
# NEGATIVE INDEXING-> right to left
ls[-1] # last element

False

In [24]:
ls2 = [1, -1, ls]

In [27]:
ls # list concatenation

[42, 0.111111, 'hello world', '<input type="button">Click here</input>', False]

In [28]:
ls3 = [1,-1,[ls]]
ls3

[1,
 -1,
 [[42,
   0.111111,
   'hello world',
   '<input type="button">Click here</input>',
   False]]]

In [29]:
ls3[-1]

[[42,
  0.111111,
  'hello world',
  '<input type="button">Click here</input>',
  False]]

In [34]:
potato = [ 1, 2, 2, 1, 'banana', 99, False, 3.14, 'buffalo']
# List is ORDERED, INDEXED
set1 = set(potato)
set1
# UNORDERED

{1, 2, 3.14, 99, False, 'banana', 'buffalo'}

In [31]:
# INDEXING-> undefined 
set1[2]

TypeError: ignored

In [35]:
set2 = {ls} # an ordered, indexed collection CANNOT become a part of UNORDERED,
# unindexed collection!!!!

TypeError: ignored

In [36]:
set2 = {set1, 3}

TypeError: ignored

In [37]:
# UNION and INTERSECTION, SET add, subtract-> only ops
# SQL JOIN

In [38]:
tup = (1,2,3) # READONLY data-> once created, cannot be modified!!!

In [39]:
print(ls)
del ls[-1]
print(ls)

[42, 0.111111, 'hello world', '<input type="button">Click here</input>', False]
[42, 0.111111, 'hello world', '<input type="button">Click here</input>']

In [40]:
del tup[1]

TypeError: ignored

In [41]:
tup[0] = 42

TypeError: ignored

In [42]:
# Dictionary-> Key,value pairs!!!! 
# SETS-> combinations of KEY cannot repeat
# ORDERED-> NO!!!
# INDEXED-> YES! Indexes are KEY, not [0...1]

In [43]:
dct = {0:"hello", 4.12:"World", False:True, 'pikachu':'otter'}
# key:value
dct[4.12]#INDEXED!

'World'

In [49]:
dct["pikachu"] #INDEXED!

'otter'

In [48]:
dct[-1]

KeyError: ignored

In [50]:
# functions, classes
# def <function_name> (parameters):
#   command1
#<-> indentation space from left-> is important
# { } -> scope, in python the space from left defines the scope!
# PREFERENCE-> TAB over SPACE

In [57]:
# Functions can return multiple values!
def divide(a,b):
  q = int(a/b) # TYPE CASTE
  r = a%b
  return q,r # returning 2 independent units

a,b = divide(5,2)
print(a,b)

2 1

In [60]:
# Functions can return multiple values!
def divide(a,b):
  q = int(a/b) # TYPE CASTE
  r = a%b
  return (q,r) # returning 1 independent unit-> tuple

a = divide(5,2)
print(a)
print(a[0])

(2, 1)
2

In [61]:
# lambda function -> anonymous functions 
# 1 line of exection NOT more!!!
# In-Place-> no jump in memory for a separate function call!
# EXECUTION is faster! -> only allocate finite memory, hence ONLY 1 line of execution is allowed!

# K = C+ 273
# variable = lambda <input>: what happens with input!
convert_to_kelvin = lambda x: x+273
convert_to_kelvin(100)

373

In [62]:
# y = mx + c
y = lambda m,x,c: m*x + c
y(1,2,0)

2

In [63]:
# Loops-> do_while, while, for, foreach 

# for var in list-> var will iterate through the provided list!
for i in [1,2,3,4,5,6]:
  print(i)

1
2
3
4
5
6

In [64]:
# FOR ITERATES OVER A LIST ONLY!!!!
for i in ls:
  print(i)

42
0.111111
hello world
<input type="button">Click here</input>

In [67]:
counter = len(ls) -1
while(counter>=0):
  print(ls[counter])
  counter = counter - 1

<input type="button">Click here</input>
hello world
0.111111
42

In [72]:
# LIST COMPREHENSIONS
# LOGIC that can be provided to GENERATE a list!!!!
# output = [(modification on value)  a loop to iterate a value    ]
randomvalues = [ str(i)+'bye' for i in ls]
randomvalues

['42bye',
 '0.111111bye',
 'hello worldbye',
 '<input type="button">Click here</input>bye']

In [73]:
# squares of all numbers between 1 to 10
base = [ i for i in range(10)]
base

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
squares = [ i*i for i in base]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
# combining regular lambdas with functions 
def mathpower(y):
  return lambda x: x**y #**->power, ^-> xor

squares = mathpower(2) # lambda x,2: x**2
cube = mathpower(3) # lambda x,3: x**3
# mathematical-> Finance, insurance
# ML-> feature engineering
# ETL-> collect-> modify it in many ways, and load somewhere else

# Delta-> Bronze (Dirty data), Silver (cleaned featured), Gold (ready for ML or DA)
# raw data-> in bronze
# Cell Analogy-> Radiography-> radius of a cell, area, perimeter, pi*r2, pi*2*r 
# FUNCTIONS-> memory jump-> Preference is for lambdas-> 1 expression-> in memory, in place 
# Derived Columns (formulae based)
# Generate Values!

In [78]:
squares(30)

900

In [80]:
cube(9)

729

In [81]:
# classes
# structure,
# Series and Propagation-> AS, HP, GS, Fibonacci, Taylor, Fourier Transformations, FFT
# FFT-> noise cancellation 
# fibanacci-> bee population, storms, hurricanes, tornado,
# geological-> ritcher scale 
# Libraries-> most of our work is automated!
# NUMPY-> numbers
# SCIPY-> scientic
# Pandas

In [82]:
#class <classname>:
#   def <function_name>(reference_to_itself): # this pointer/object
#         //statements
#   def <function_name2>(reference_to_itself,otherargs1,otherargs2)
#         //statements

In [83]:
class myclass:
  def blahblah(): #this function will NOT be a part of my classes
    return 'bye bye'
  def blah2(this): # this function will be a part of my class
    return 'yoo hoo'

In [85]:
# OBJECT of a class
obj = myclass() # new objects 
print(obj.blah2()) # this should work
print(obj.blahblah()) # this should be an error

yoo hoo

TypeError: ignored

In [86]:
# Constructors-> intialize the C++ constructor actually represeting the constructor
# YOU WILL NEVER GET ACCESS TO THIS CLASS, or to the MAIN function beyond a reference

In [87]:
# others-> constructor has same name as the class
# python-> __init__

In [90]:
class human:
  def __init__(this):
    this.name = "jane doe"
    this.age = 1000
    this.currency = 'SGD'
    this.hungerStatus = False
  def setNewProperties(this, name, age):
    this.name = name
    this.age = age
  def getHumanProperties(this):
    return this.name, this.age, this.currency, ("hungry" if this.hungerStatus==True else "Not Hungry")

In [91]:
pikachu = human()
pikachu.getHumanProperties()

('jane doe', 1000, 'SGD', 'Not Hungry')

In [92]:
# NOT-> POLYMORPHISM
# DOES NOT 
class abc:
  def mul(this, a,b):
    return a*b
  def mul(this, a):
    return a*a

ob = abc()
print(ob.mul(3)) # this should work
print(ob.mul(3,2)) # this should NOT work! PREVIOUS DEF has been OVERRIDDEN by new def!!1

9

TypeError: ignored

In [93]:
#Series and Propagation 

# Arithmetic series-> Fibonacci series
# Special Function-> __iter__, __next__-> first definition, how to propagate

In [95]:
class ArithmeticProg:
  def __iter__(self):
    self.base = -1
    self.step = 2
    return self
  def __next__(self):
    self.base = self.base + self.step
    return self.base

In [102]:
obj = ArithmeticProg()
i = iter(obj)
# initialize series

In [103]:
# next will propagate
for j in range(10):
  print(next(i))

1
3
5
7
9
11
13
15
17
19

In [110]:
class Fibo:
  def __iter__(fibo):
    fibo.first = -1
    fibo.second = 1
    return fibo
  def __next__(fibo):
    fibo.third = fibo.first + fibo.second # 0
    fibo.first = fibo.second # 
    fibo.second = fibo.third

    return fibo.third

In [111]:
i = iter(Fibo())
for j in range(10):
  print(next(i))

0
1
1
2
3
5
8
13
21
34