<a href="https://colab.research.google.com/github/a-forty-two/CGI-DPplusPy/blob/main/PyMongo_Cosmos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pymongo
uri = "mongodb://europa:yNOrHtoWMIKJBDffnjnMdZT6AcGylUTkl6tLVbmsiddgddd5xcyjgp2pohorpEiuzts0PK9bYTRjRPJRq7VCTA==@europa.mongo.cosmos.azure.com:10255/?ssl=true&retrywrites=false&replicaSet=globaldb&maxIdleTimeMS=120000&appName=@europa@"
client = pymongo.MongoClient(uri)

In [3]:
mydb = client["coctopus"] # PLEASE DO NOT CHANGE THIS LINE

In [4]:
mycol = mydb["fish"] # Change collection name 'fish' to anything else that you like!

In [5]:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [7]:
mydict = { "name": "Shrimp", "age": 30 }

x = mycol.insert_one(mydict)

In [8]:
r2 = { "name": "Shrimp", "complex": mydict , "subjects":["eng","fr","gt"]}

x = mycol.insert_one(r2)

In [9]:
# MongoDB-> Document Database 
for x in mycol.find():
  print(x)

{'_id': ObjectId('613996d34935f8f434aba158'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('613997344935f8f434aba159'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139976d4935f8f434aba15a'), 'name': 'Shrimp', 'complex': {'name': 'Shrimp', 'age': 30, '_id': ObjectId('613997344935f8f434aba159')}, 'subjects': ['eng', 'fr', 'gt']}
{'_id': ObjectId('6139a0a9554d2b4274a73902'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6139a0aa554d2b4274a73903'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a0b2554d2b4274a73904'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a0d2554d2b4274a73905'), 'name': 'Shrimp', 'complex': {'name': 'Shrimp', 'age': 30, '_id': ObjectId('6139a0b2554d2b4274a73904')}, 'subjects': ['eng', 'fr', 'gt']}

In [10]:
for x in mycol.find({"name":"Shrimp"}):
  print(x)

{'_id': ObjectId('613997344935f8f434aba159'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139976d4935f8f434aba15a'), 'name': 'Shrimp', 'complex': {'name': 'Shrimp', 'age': 30, '_id': ObjectId('613997344935f8f434aba159')}, 'subjects': ['eng', 'fr', 'gt']}
{'_id': ObjectId('6139a0aa554d2b4274a73903'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a0b2554d2b4274a73904'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a0d2554d2b4274a73905'), 'name': 'Shrimp', 'complex': {'name': 'Shrimp', 'age': 30, '_id': ObjectId('6139a0b2554d2b4274a73904')}, 'subjects': ['eng', 'fr', 'gt']}

In [ ]:
# Modern-> 2 things-> Credentials, strictly mantain relationship 
# SQL-> Tx
# moving from SQL to Mongo or Blob or Table
# Search from there!

In [ ]:
# Product Description
# TV, Fridge, Ship-> price, catID-> SEMI - STRUCTURED
# diagonal, price, 
# volume, price, color
# capacity, name, not_available

In [ ]:
# Shopping basket -> { itemid, item count, unit price, totalprice}->

In [ ]:
# use SQL-> RELATIONSHIPs-> FK