<a href="https://colab.research.google.com/github/a-forty-two/CGI-DPplusPy/blob/main/PyMongo_Cosmos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pymongo
uri = "mongodb://europa:yNOrHtoWMIKJBDffnjnMdZT6AcGylUTkl6tLVbmsiddgddd5xcyjgp2pohorpEiuzts0PK9bYTRjRPJRq7VCTA==@europa.mongo.cosmos.azure.com:10255/?ssl=true&retrywrites=false&replicaSet=globaldb&maxIdleTimeMS=120000&appName=@europa@"
client = pymongo.MongoClient(uri)

In [3]:
mydb = client["coctopus"] # PLEASE DO NOT CHANGE THIS LINE

In [4]:
mycol = mydb["fish"] # Change collection name 'fish' to anything else that you like!

In [5]:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [7]:
mydict = { "name": "Shrimp", "age": 30 }

x = mycol.insert_one(mydict)

In [8]:
r2 = { "name": "Shrimp", "complex": mydict , "subjects":["eng","fr","gt"]}

x = mycol.insert_one(r2)

In [9]:
# MongoDB-> Document Database 
for x in mycol.find():
  print(x)

{'_id': ObjectId('613996d34935f8f434aba158'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('613997344935f8f434aba159'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139976d4935f8f434aba15a'), 'name': 'Shrimp', 'complex': {'name': 'Shrimp', 'age': 30, '_id': ObjectId('613997344935f8f434aba159')}, 'subjects': ['eng', 'fr', 'gt']}
{'_id': ObjectId('6139a0a9554d2b4274a73902'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6139a0aa554d2b4274a73903'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a0b2554d2b4274a73904'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a0d2554d2b4274a73905'), 'name': 'Shrimp', 'complex': {'name': 'Shrimp', 'age': 30, '_id': ObjectId('6139a0b2554d2b4274a73904')}, 'subjects': ['eng', 'fr', 'gt']}

In [11]:
for x in mycol.find({"name":"Shrimp", "age":30}):
  print(x)

{'_id': ObjectId('613997344935f8f434aba159'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a0aa554d2b4274a73903'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a0b2554d2b4274a73904'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a2b3fb85be65f17561c0'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a388706de25d2cf2ed80'), 'name': 'Shrimp', 'age': 30}

In [13]:
myquery = { "name": { "$regex": "p$" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('613997344935f8f434aba159'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139976d4935f8f434aba15a'), 'name': 'Shrimp', 'complex': {'name': 'Shrimp', 'age': 30, '_id': ObjectId('613997344935f8f434aba159')}, 'subjects': ['eng', 'fr', 'gt']}
{'_id': ObjectId('6139a0aa554d2b4274a73903'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a0b2554d2b4274a73904'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a0d2554d2b4274a73905'), 'name': 'Shrimp', 'complex': {'name': 'Shrimp', 'age': 30, '_id': ObjectId('6139a0b2554d2b4274a73904')}, 'subjects': ['eng', 'fr', 'gt']}
{'_id': ObjectId('6139a2b3fb85be65f17561c0'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a2c0fb85be65f17561c1'), 'name': 'Shrimp', 'complex': {'name': 'Shrimp', 'age': 30, '_id': ObjectId('6139a2b3fb85be65f17561c0')}, 'subjects': ['eng', 'fr', 'gt']}
{'_id': ObjectId('6139a388706de25d2cf2ed80'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a38d706de25d2cf2ed81'), 'name': 'Shrimp', 'complex': {'name': 'Shrimp', 'age': 30, '_id': ObjectId('6139a388706de25d2cf2ed80')}, 'subjects': ['eng', 'fr', 'gt']}
{'_id': ObjectId('6139a4d6fb85be65f17561c5'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a4d9fb85be65f17561c6'), 'name': 'Shrimp', 'complex': {'name': 'Shrimp', 'age': 30, '_id': ObjectId('6139a4d6fb85be65f17561c5')}, 'subjects': ['eng', 'fr', 'gt']}
{'_id': ObjectId('6139a4e850bae7ad33532b9c'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('6139a4ec50bae7ad33532b9d'), 'name': 'Shrimp', 'complex': {'name': 'Shrimp', 'age': 30, '_id': ObjectId('6139a4e850bae7ad33532b9c')}, 'subjects': ['eng', 'fr', 'gt']}

In [ ]:
# Modern-> 2 things-> Credentials, strictly mantain relationship 
# SQL-> Tx
# moving from SQL to Mongo or Blob or Table
# Search from there!

In [ ]:
# Product Description
# TV, Fridge, Ship-> price, catID-> SEMI - STRUCTURED
# diagonal, price, 
# volume, price, color
# capacity, name, not_available

In [ ]:
# Shopping basket -> { itemid, item count, unit price, totalprice}->

In [12]:
# use SQL-> RELATIONSHIPs-> FK